* {
    padding: 0;
    margin: 0;
}

body {
    background: #eeeeee;
}


.chatPaper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.log{
    overflow-y: scroll;
    max-height: 100%;
}

.chatPaper .appbar,.chatPaper .chat{
    background-color: #f8f8f8;
    color: #000;
    border-bottom: 1px solid #ddd;
}
.chatPaper .chat{
    border-left: 1px solid #ddd;
}

.userList{
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;
}