<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }} | {{ .sub }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link href="https://cdn.bootcdn.net/ajax/libs/node-waves/0.7.6/waves.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/style.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar fixed-top navbar-dark navbar-shadow">
        <div class="container-fluid">
            <div class="navbar-brand">
                <button class="btn btn-icon text-light border-0 p-0" type="button">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
                    </svg>
                </button>
                <a>{{ .title }}</a>
            </div>
            <button class="btn btn-icon text-light border-0 p-0" type="button">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M21.7 18.6V17.6L22.8 16.8C22.9 16.7 23 16.6 22.9 16.5L21.9 14.8C21.9 14.7 21.7 14.7 21.6 14.7L20.4 15.2C20.1 15 19.8 14.8 19.5 14.7L19.3 13.4C19.3 13.3 19.2 13.2 19.1 13.2H17.1C16.9 13.2 16.8 13.3 16.8 13.4L16.6 14.7C16.3 14.9 16.1 15 15.8 15.2L14.6 14.7C14.5 14.7 14.4 14.7 14.3 14.8L13.3 16.5C13.3 16.6 13.3 16.7 13.4 16.8L14.5 17.6V18.6L13.4 19.4C13.3 19.5 13.2 19.6 13.3 19.7L14.3 21.4C14.4 21.5 14.5 21.5 14.6 21.5L15.8 21C16 21.2 16.3 21.4 16.6 21.5L16.8 22.8C16.9 22.9 17 23 17.1 23H19.1C19.2 23 19.3 22.9 19.3 22.8L19.5 21.5C19.8 21.3 20 21.2 20.3 21L21.5 21.4C21.6 21.4 21.7 21.4 21.8 21.3L22.8 19.6C22.9 19.5 22.9 19.4 22.8 19.4L21.7 18.6M18 19.5C17.2 19.5 16.5 18.8 16.5 18S17.2 16.5 18 16.5 19.5 17.2 19.5 18 18.8 19.5 18 19.5M12.3 22H3C1.9 22 1 21.1 1 20V4C1 2.9 1.9 2 3 2H21C22.1 2 23 2.9 23 4V13.1C22.4 12.5 21.7 12 21 11.7V6H3V20H11.3C11.5 20.7 11.8 21.4 12.3 22Z" />
                </svg>
            </button>
        </div>
    </nav>
    <div class="container">
        <div class="card breadcrumb-card">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">{{ .title }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ .page }}</li>
                </ol>
            </nav>
        </div>








        <script>
            ws = "{{ .ws }}"
        </script>
        <script>

function disabledButton(id, data) {
    var button = document.getElementById(id);
    button.disabled = data; //使用true或false，控制是否让按钮禁用
}

window.onload = function () {
    disabledButton("send", true)
    var conn;
    var msg = document.getElementById("msg");
    var log = document.getElementById("log");
    var name = document.getElementById("user");
    var list = document.getElementById("list");
    var notice = document.getElementById("notice");

    function appendLog(item) {
        log.appendChild(item);
        list.scrollTop = list.scrollHeight;
    }

    function getTime() {
        var mydate = new Date();
        var year = mydate.getFullYear();
        var month = mydate.getMonth() + 1;
        var day = mydate.getDate();
        var hour = mydate.getHours();
        var minutes = mydate.getMinutes();
        var now = "";
        if (minutes < 10) {
            minutes = '0' + minutes;
        }

        if (hour <= 12) {
            now = "上午";
        } else {
            now = "下午";
        }
        var seconds = mydate.getSeconds();
        if (seconds < 10) {
            seconds = '0' + seconds;
        }
        var weekday = mydate.getDay();
        if (hour > 12) {
            var hour = hour - 1
        }
        var arr = new Array('星期天', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六');
        var time = year + '/' + month + '/' + day + " " + now + " " + hour + ':' + minutes + ':'
            + seconds + "  " + arr[weekday];
        return time
    }

    document.getElementById("form").onsubmit = function () {
        if (!conn) {
            return false;
        }
        if (!msg.value) {
            return false;
        }
        var data = '{"name":"{{ .name }}","msg":"' + msg.value + '","time":"' + getTime() + '"}'
        conn.send(data);
        // conn.send(msg.value);
        msg.value = "";
        return false;
    };

    if (window["WebSocket"]) {
        conn = new WebSocket(ws);
        conn.onclose = function () {
            notice.innerHTML = `
                <div class="alert alert-danger" role="alert">
                <svg style="width:24px;height:24px;margin-right:5px;" viewBox="0 0 24 24">
                <path fill="currentColor" d="M4,1C2.89,1 2,1.89 2,3V7C2,8.11 2.89,9 4,9H1V11H13V9H10C11.11,9 12,8.11 12,7V3C12,1.89 11.11,1 10,1H4M4,3H10V7H4V3M14,13C12.89,13 12,13.89 12,15V19C12,20.11 12.89,21 14,21H11V23H23V21H20C21.11,21 22,20.11 22,19V15C22,13.89 21.11,13 20,13H14M3.88,13.46L2.46,14.88L4.59,17L2.46,19.12L3.88,20.54L6,18.41L8.12,20.54L9.54,19.12L7.41,17L9.54,14.88L8.12,13.46L6,15.59L3.88,13.46M14,15H20V19H14V15Z" />
            </svg> 连接意外的断开，无法与 WebSocket 服务器连接，刷新页面重试。
                </div>`;
            disabledButton("send", true)
        };
        conn.onopen = function () {
            disabledButton("send", false)
        }
        conn.onmessage = function (evt) {
            var messages = evt.data.split('\n');
            for (var i = 0; i < messages.length; i++) {
                var item = document.createElement("div");
                var obj = JSON.parse(messages);
                item.innerHTML = `
                    <div class="log-item">
                        <p class="user-name"><a href="#"><strong>` + obj.name + `</strong></a></p>
                        <div class="message">` + obj.msg + `</div>
                        <p class="time"><small>` + obj.time + `</small></p>
                    </div>
                `;
                // item.innerText = messages[i];
                appendLog(item);
            }
        };
    } else {
        notice.innerHTML = `
        <div class="alert alert-danger" role="alert">
            貌似出现了一些问题
        </div>`;
    }
};

        </script>
        <div class="card">
            <!-- <div class="card-header">
            </div> -->
            <div class="card-body" id="list">
                <div id="log"></div>
                <div id="notice"></div>
            </div>
            <div class="card-footer">
                <form id="form">
                    <button class="btn-send btn btn-fix btn-primary btn-sm" id="send" type="submit"><svg
                            style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M2,21L23,12L2,3V10L17,12L2,14V21Z" />
                        </svg>
                    </button>
                    <input placeholder="输入内容回车发送" class="form-control msg-input" type="text" id="msg" autofocus />
                </form>
            </div>
        </div>









    </div>
    </div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/node-waves/0.7.6/waves.min.js"></script>
<script>
    Waves.init();
    Waves.attach('.btn-fix');
    Waves.attach('.btn-icon');
</script>
</body>

</html>